.parent {
    border: 1px solid blue;
    padding: 10px;
    display: flex;
    flex-direction: col;
    background-color: aqua;
    
}

.header{
    border: 10px;
    display: flex;
    justify-content: left;


}

.categories {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    text-align: end;
    

}

.icon { 
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.information {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: col;
    flex-grow: 1;
    text-align: center;
    font-style: italic;
}

.body {
    text-align: center;
    justify-content: flex-end;

       
}

.img1{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    text-align: start;
    width: 50px;
    flex-direction: row;
    display: flex;
    margin: 0 auto;

}
